.msg{
    color:rgb(37, 148, 31) ;
}
.in_col:focus{
    border-color: rgb(37, 148, 31);
    box-shadow: 0 0 0 .25rem rgba(93, 220, 20, 0.677);
}
.in_rad:checked{
    background-color: rgb(37, 148, 31);
    border-color: rgb(37, 148, 31);
}
.f_name{
    color: darkgreen;
}
.c_add{
   height: 25px;

}

.butn{
    background-color:  rgb(37, 148, 31)!important;
    float: right;
}
.lab{
    padding: 10px;
    padding-top: 0px;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.contain{
    margin: 20px;
}
.img_box{
    margin-top:70px;
    margin-left: 50px;
}
.img_cu{
    border-radius: 5%;
}
.poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
.na{
    margin-right: 300px;
}
.ico{
    width: 120px;
    height: 120px;
}
form{
    padding: 60px;
    background-image: url();
    
}
td{
    padding: 10px;
}
.c_top{
    font-size: large;
    color: aliceblue;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  