
.cu_nav{
    background: rgb(51, 164, 45)!important;
    color: white;
}
.cu_Ti{
    font-size: 40px !important;
}
.cu_white{
    color:white;
}
.c_ter{
    margin-left: 400px;
}
.butn{
    background-color:  rgb(37, 148, 31)!important;
    float: right;
}
.lab{
    padding: 10px;
    padding-top: 0px;
}
.poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
.na{
    margin-right: 300px;
}
form{
    padding: 60px;
    
}
td{
    padding: 10px;
}