.main_icon{
    padding-bottom:7px ;
    margin-left:15px ;
}
.cu_nav{
    background-color: rgb(25, 133, 19) !important;
     color: white;
     position: sticky;
     top: 0;
 }

 .div_ico{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 10px;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.c_top{
    font-size: large;
    color: aliceblue;
}
.cu_Ti{
    font-size: 40px !important;
    padding: 10px;
}
.cu_white{
    color:white;
}
.img_ico{
    margin-top: 8px;
    width: 25px;
    height: 20px;
}

.c_ter{
    margin-left: 400px;
    
}