.topic{
  color: #006400;
  padding: 15px;
}
.cu_card{
    margin: 15px !important;
}
.cu_img{
    height: 250px;
    width: 100%;
}
.cu_card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .search{
    padding: 10px;
  }
  .cu_card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adds a shadow effect */
  }
  .btn-darkgreen {
    background-color: #006400; /* Dark green background */
    color: white;              /* White text */
    border: none;
  }
  
  .btn-darkgreen:hover {
    background-color: #004d00;
    color: white; /* Slightly darker green on hover */
  }
  .search_bar{
    padding: 20px;
    margin-top: 20px;
  }
  .search_in:focus{
    border-color: rgb(37, 148, 31);
    box-shadow: none;
    background: transparent;
  }
  .category{
    display: flex;
    justify-content: space-around;
  }
  .p_cost{
    float:right;
    color:rgb(190, 51, 51);
    top:0;
    font-size: larger;
  }
.paytone-one-regular{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.poppins-medium{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .cu_de{
    margin-top: 3px;
  }
  .de{
    margin-top: 5px;
  }
  .in_col:focus{
    border-color: rgb(37, 148, 31);
    box-shadow: 0 0 0 .25rem rgba(93, 220, 20, 0.677);
    background: transparent;
}
.in_col{
    background: transparent;
    border: 1px solid darkgreen;
    outline: none;
}
.pop_err_msg{
  padding-left: 10px;
  color: red;
  font-size: 15px;
}